//grid spesifically for the calendar for tlfvakt backend
$calendar-grid-columns:                  7      !default
$calendar-grid-col-name:                 cal    !default
$calendar-grid-gutter:                   12px   !default

$calendar-grid-breakpoint-small-name:    s      !default
$calendar-grid-breakpoint-small:         480px  !default

$calendar-grid-breakpoint-medium-name:   m      !default
$calendar-grid-breakpoint-medium:        768px  !default

$calendar-grid-breakpoint-large-name:    l      !default
$calendar-grid-breakpoint-large:         1200px !default


[class*='#{$calendar-grid-col-name}-']
	float: left
	position: relative
	padding: $calendar-grid-gutter

// Large
@media (min-width: $calendar-grid-breakpoint-large)
	@for $i from 1 to $calendar-grid-columns+1
		.#{$calendar-grid-col-name}-#{$calendar-grid-breakpoint-large-name}-#{$i}
			width: (100% / $calendar-grid-columns) * $i


// Normal
@for $i from 1 to $calendar-grid-columns+1
	.#{$calendar-grid-col-name}-#{$i}
		width: (100% / $calendar-grid-columns) * $i

// Tablet
@media (max-width: $calendar-grid-breakpoint-medium)
	@for $i from 1 to $calendar-grid-columns+1
		.#{$calendar-grid-col-name}-#{$calendar-grid-breakpoint-medium-name}-#{$i}
			width: (100% / $calendar-grid-columns) * $i

// Phone
@media (max-width: $calendar-grid-breakpoint-small)
	@for $i from 1 to $calendar-grid-columns+1
		.#{$calendar-grid-col-name}-#{$i}
			width: 100%

		.#{$calendar-grid-col-name}-#{$calendar-grid-breakpoint-small-name}-#{$i}
			width: (100% / $calendar-grid-columns) * $i

	.#{$calendar-grid-col-name}--center
		padding-left: 0px


.calendar
	height: 80px
	&--holy
		background-color: lighten($palette-red, 15%)
		color: $accent-color-text
		cursor: pointer
		&:hover
			background-color: lighten($palette-red, 10%)
	&--normal
		cursor: pointer
		background-color: $paper-color
		&:hover
			background-color: darken($paper-color, 5%)
	&--current
		cursor: pointer
		background-color: $theme-color
		color: $theme-color-text
		&:hover
			background-color: darken($theme-color, 5%)
	&--blank
		background-color: #cecece
		&:hover
			background-color: darken(#cecece, 5%)
	&--date
		text-align: center
		position: absolute
		top: 0px
		right: 0px
		height: 30px
		width: 30px
		background-color: rgba(0, 0, 0, .2)
		line-height: 30px
	&--header
		height: auto
		padding-bottom: $calendar-grid-gutter
		background-color: $theme-color
		color: $theme-color-text