@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  font-size: 14.5px; }

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 55px;
  background-color: #f8f8f8;
  position: relative; }

/* © Agne Ødegaard - Iron-grid
 *
 * Asuming Default values
 * .row
 *     .col-6.col--centered
 *         .col-l-3.col-4.col-m-6.col-s-6
 *         .col-l-3.col-4.col-m-6.col-s-6
 *         .col-l-3.col-4.col-m-6.col-s-12
 */
img {
  max-width: 100%; }

.row {
  width: 100%;
  clear: both;
  box-sizing: border-box;
  padding-left: 12px; }
  .row img {
    max-width: 100%; }
  .row--line {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px #999999 solid; }

[class*='col-'] {
  float: left;
  box-sizing: border-box;
  padding-right: 12px;
  padding-top: 12px; }

.col--right {
  float: right; }

.clearfix:after, .row--line:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

@media (min-width: 1200px) {
  .col-l-1 {
    width: 8.3333333333%; }
  .col-l-2 {
    width: 16.6666666667%; }
  .col-l-3 {
    width: 25%; }
  .col-l-4 {
    width: 33.3333333333%; }
  .col-l-5 {
    width: 41.6666666667%; }
  .col-l-6, .container {
    width: 50%; }
  .col-l-7 {
    width: 58.3333333333%; }
  .col-l-8 {
    width: 66.6666666667%; }
  .col-l-9 {
    width: 75%; }
  .col-l-10 {
    width: 83.3333333333%; }
  .col-l-11 {
    width: 91.6666666667%; }
  .col-l-12 {
    width: 100%; } }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8, .container {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

@media (max-width: 768px) {
  .col-m-1 {
    width: 8.3333333333%; }
  .col-m-2 {
    width: 16.6666666667%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.3333333333%; }
  .col-m-5 {
    width: 41.6666666667%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.3333333333%; }
  .col-m-8 {
    width: 66.6666666667%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10, .container {
    width: 83.3333333333%; }
  .col-m-11 {
    width: 91.6666666667%; }
  .col-m-12 {
    width: 100%; } }

.col--center, .container {
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding-left: 0px; }

@media (max-width: 480px) {
  .col-1 {
    width: 100%; }
  .col-s-1 {
    width: 8.3333333333%; }
  .col-2 {
    width: 100%; }
  .col-s-2 {
    width: 16.6666666667%; }
  .col-3 {
    width: 100%; }
  .col-s-3 {
    width: 25%; }
  .col-4 {
    width: 100%; }
  .col-s-4 {
    width: 33.3333333333%; }
  .col-5 {
    width: 100%; }
  .col-s-5 {
    width: 41.6666666667%; }
  .col-6 {
    width: 100%; }
  .col-s-6 {
    width: 50%; }
  .col-7 {
    width: 100%; }
  .col-s-7 {
    width: 58.3333333333%; }
  .col-8, .container {
    width: 100%; }
  .col-s-8 {
    width: 66.6666666667%; }
  .col-9 {
    width: 100%; }
  .col-s-9 {
    width: 75%; }
  .col-10 {
    width: 100%; }
  .col-s-10 {
    width: 83.3333333333%; }
  .col-11 {
    width: 100%; }
  .col-s-11 {
    width: 91.6666666667%; }
  .col-12 {
    width: 100%; }
  .col-s-12, .container {
    width: 100%; }
  .col--center, .container {
    padding-left: 0px; } }

.visible {
  display: block; }

.hidden {
  display: none; }

.visible-s {
  display: none; }

.visible-m {
  display: none; }

@media (max-width: 768px) {
  .hidden-m {
    display: none; }
  .visible-m {
    display: block; }
  .visible-s {
    display: none; } }

@media (max-width: 480px) {
  .hidden-s {
    display: none; }
  .visible-s {
    display: block; } }

/* Placeholdfer */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

input[type='text'], textarea {
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  border: none;
  margin: 2.5px 0px;
  border-bottom: 2px solid #009688;
  border-radius: 2px;
  font-size: 16px;
  padding: 4px;
  line-height: 20px;
  text-indent: 5px;
  transition: border 0.1s ease-in-out; }
  input[type='text']:hover, textarea:hover {
    color: #999; }
  input[type='text']:focus, textarea:focus {
    color: #000;
    border-right: 2px solid #009688; }

textarea {
  resize: none; }

input[type='submit'], input[type='button'], button, .btn {
  font-weight: 100;
  appearance: none;
  box-sizing: border-box;
  border: none;
  background-color: #009688;
  color: white;
  width: 100%;
  border-radius: 2px;
  font-size: 16px;
  padding: 6px;
  border-radius: 2px;
  line-height: 20px;
  cursor: pointer; }

a {
  text-decoration: none;
  color: #009688; }
  a:hover {
    color: #5e35a8; }
